/* #castle-background {
  height: 100vh;
  width: auto;
} */

body {
  text-align: center;
}

#content {
  position: relative;
  top: 20vh;
}

#intro {
  top: 10vh;
}

#background {
  background-image: url(../assets/Title.jpg);
  background-position: right;
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
}

#name {

}

#word-of-warning {
  display: none;
}

#Rothenburg {
  display: none;
}