/* #castle-background {
  height: 100vh;
  width: auto;
} */

body {
  text-align: center;
  color: rgb(70, 10, 10);
}

#content {
  position: relative;
  top: 20vh;
}

#intro {
  top: 10vh;
}

#background {
  background-image: url(../assets/Title.jpg);
  background-position: right;
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
}

#distopia {
heheight: 300px;
  width: 400px;
  border-radius: 10px;
}

#word-of-warning {
  display: none;
}

#Rothenburg {
  display: none;
}